@charset "UTF-8";


.blog-post-detail .article-tags .tag-link, .clipboard--bubble {
  transition: all 0.25s cubic-bezier(0.104, 0.204, 0.492, 1); }

.blog-post-detail--navigation {
  transition: all 0.25s ease; }

.blog-post-detail--continue {
  isolation: isolate;
  border-radius: var(--block-border-radius, 16px); }



.blog-post-detail--navigation--inner {
  padding: 0 15px;
  max-width: 1380px;
  margin-left: auto;
  margin-right: auto; }
  @media only screen and (min-width: 1360px) {
    .blog-post-detail--navigation--inner {
      padding: 0 50px; }
  .blog-post-detail--wrapper.section-spacing-bottom .small-9 {
     padding-right:25%;  }
  }

.blog-post-detail .article-tags .tag-link {
  display: inline-flex;
  white-space: nowrap;
  font-size: 0.8125rem;
  padding: 5px 15px;
  height: 31px;
  border-radius: var(--button-border-radius, 6px);
  align-items: center;
  font-weight: var(--font-body-medium-weight, 500);
  margin: 0 2px 2px 0;
  line-height: 1;
  background: rgba(var(--color-body-rgb), 0.05);
  color: rgba(var(--color-body-rgb), 0.8); }
  .blog-post-detail .article-tags .tag-link:hover, .blog-post-detail .article-tags .active.tag-link {
    color: #fff;
    background: var(--color-accent); }

.post-meta-wrapper {
  display:none;
}
/*.blog-post-detail .post-meta-wrapper {
  font-size: 0.75rem;
  color: var(--color-body, #2c2d2e);
  margin-bottom: 10px;
margin-left:5px;}
  .blog-post-detail .post-meta-wrapper aside {
    display: inline-flex;
    margin: 0 10px 10px 0;
    position: relative;
    align-items: center;
    opacity: 0.7; }
    .blog-post-detail .post-meta-wrapper aside:after {
      content: "—";
      display: inline-block;
      opacity: 0.7;
      margin-left: 10px;
      opacity: 0.6; }
    .blog-post-detail .post-meta-wrapper aside:last-child:after {
      content: none; } */



.blog-post-detail .post-title {
  width: 100%;
  max-width: 800px;
  padding: 30px;
  margin: 0 auto;
  display: flex;
  flex-direction: column; }
  @media only screen and (min-width: 768px) {
    .blog-post-detail .post-title {
      padding: 0px;
      width: 100%; } }
  .blog-post-detail .post-title .share-article {
    margin-top: auto;
    margin-bottom: 0; 
  display:none;}

.blog-post-detail .post-title-wrapper {
  /*border-radius: var(--block-border-radius, 16px);*/
  background: var(--color-article-card-bg, #fff);
  display: flex;
  overflow: hidden;
  width: 100%;
  margin-bottom: 30px;
/*padding:30px;
  border:1px #1b3def solid;
border-radius: 20px;*/}
  @media only screen and (min-width: 768px) {
    .blog-post-detail .post-title-wrapper {
      margin-bottom: 60px; } }
  .blog-post-detail .post-title-wrapper--border-true {
    border: 1px solid var(--color-border, #dadce0); }
  .blog-post-detail .post-title-wrapper--has-img-true {
    flex-direction: column-reverse; }
    @media only screen and (min-width: 768px) {
      .blog-post-detail .post-title-wrapper--has-img-true {
        flex-direction: column;
        margin-bottom: 20px; } }
    .blog-post-detail .post-title-wrapper--has-img-true .post-title {
      margin: 0; }
  .blog-post-detail .post-title-wrapper--has-img-false {
    text-align: center;
    justify-content: center;
    min-height: 380px;
    align-items: center; }
    @media only screen and (min-width: 768px) {
      .blog-post-detail .post-title-wrapper--has-img-false {
        flex-direction: row;
        margin-bottom: 60px; } }
    .blog-post-detail .post-title-wrapper--has-img-false .post-title {
      margin: 0; }
    .blog-post-detail .post-title-wrapper--has-img-false .share-article {
      margin: 20px auto 0; }

.blog-post-detail .featured-image {
 
  max-height:600px;
  display: flex;
  position: relative;
align-items: center;
    overflow: hidden;
    border-radius: 20px;
justify-content:center;}
  @media only screen and (min-width: 768px) {
    .blog-post-detail .featured-image {
      /*display:none;*/
      } }

.featured-image img { border-radius:20px; justify-content: center; width:100%; height:100%;}

.blog-post-detail .post-content {
  margin-bottom: 30px; }
  .blog-post-detail .post-content p + h1,
  .blog-post-detail .post-content p + h2,
  .blog-post-detail .post-content p + h3,
  .blog-post-detail .post-content p + h4,
  .blog-post-detail .post-content p + h5,
  .blog-post-detail .post-content p + h6 {
    margin-top: 40px; }

.blog-post-detail .article-tags {
  margin-bottom: 25px;
max-width:100%}
  .blog-post-detail .article-tags .tag-link {
    margin-left: 0; }

.blog-post-detail .share-article {
  text-align: left; }

.blog-post-detail--continue {
  background: var(--color-article-card-bg, #fff);
  display: flex;
  flex-direction: column-reverse;
  overflow: hidden;
  width: 100%;
  margin-bottom: 45px;
  padding: 10px; }
  .blog-post-detail--continue--border-true {
    border: 1px solid var(--color-border, #dadce0); }
  .blog-post-detail--continue-image {
    flex-shrink: 0;
    overflow: hidden;
    border-radius: calc(var(--block-border-radius, 16px) / 2);
    width: 190px;
    margin-left: auto;
    display: none; }
    .blog-post-detail--continue-image a {
      display: block;
      height: 100%; }
    @media only screen and (min-width: 768px) {
      .blog-post-detail--continue-image {
        display: block; } }
  .blog-post-detail--continue-title {
    letter-spacing: -0.02em;
    opacity: 0.6;
    margin-bottom: 15px;
    font-weight: var(--font-body-medium-weight, 500);
    line-height: 1; }
  .blog-post-detail--continue h5 {
    margin-bottom: 20px; }
    @media only screen and (min-width: 768px) {
      .blog-post-detail--continue h5 {
        width: 80%; } }
  .blog-post-detail--continue-content {
    padding: 20px;
    display: flex;
    flex-direction: column; }
    .blog-post-detail--continue-content .text-button {
      margin-top: auto; }
  @media only screen and (min-width: 768px) {
    .blog-post-detail--continue {
      flex-direction: row; } }

.blog-post-detail--navigation {
  background: var(--bg-body, #f5f5f5);
  display:grid;
  grid-gap: 40px;
  height: 6px;
  align-items: center;
  position: fixed;
  top: 0px;
  right: 0;
  left: 0;
  z-index: 10;
  pointer-events: none;
  border-bottom: 1px solid var(--color-border, #dadce0);
  transform: translateY(calc(-100% - 4px)); }
  .header-sticky--active .blog-post-detail--navigation {
    top: calc(var(--header-height, 0px) + 0px); }
  .blog-post-detail--navigation.navigation--sticky {
    pointer-events: all;
    transform: translateY(-1px); }
@media only screen and (min-width: 768px) {
    .blog-post-detail--navigation {
      height: 0px; } }
  .blog-post-detail--navigation--inner {
  display:none; /* width: 100%;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;*/ }
    .blog-post-detail--navigation--inner .share-article {
      margin-bottom: 0;
      margin-left: auto; }
      .blog-post-detail--navigation--inner .share-article a:last-child {
        margin-right: 0; }


  .blog-post-detail--navigation--title {
    font-size: 0.8125rem;
    font-weight: var(--font-body-medium-weight, 500);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1; }
    @media only screen and (min-width: 768px) {
      .blog-post-detail--navigation--title {
        font-size: 0.9375rem; } }
    .blog-post-detail--navigation--title > div {
      overflow: hidden;
      text-overflow: ellipsis; }
  .blog-post-detail--navigation--bar {
    display: block;
    height: 5px;
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 100%;
    transform: scale(0, 1);
    background: var(--color-accent);
    transform-origin: left center; }

.share-article {
  font-size: 0.8125rem;
  line-height: 1;
  margin-bottom: 25px;
  display: flex;
  align-items: center; }
  .share-article svg {
    height: 16px;
    width: auto; }
    .share-article svg path {
      fill: var(--color-body, #2c2d2e); }
  .share-article label {
    display: block;
    font-size: 0.8125rem;
    font-weight: var(--font-body-medium-weight, 500);
    margin-right: 10px; }
  .share-article .social {
    display: inline-flex;
    align-items: center;
    margin: 0 2px;
    padding: 0 5px;
    width: 24px;
    height: 24px;
    white-space: nowrap;
    color: var(--color-body, #2c2d2e); }

.clipboard {
  position: relative; }
  .clipboard--bubble {
    position: absolute;
    left: 50%;
    bottom: calc(100% + 6px);
    transform: translateX(-50%);
    background-color: var(--color-body, #2c2d2e);
    color: var(--bg-body, #f5f5f5);
    white-space: nowrap;
    font-size: 0.75rem;
    padding: 3px 6px;
    border-radius: 1px;
    opacity: 0;
    pointer-events: none;
    line-height: 1.25; }
    .clipboard--bubble:after {
      content: '';
      width: 0px;
      height: 0px;
      border-style: solid;
      border-width: 3px 2.5px 0 2.5px;
      border-color: var(--color-body, #2c2d2e) transparent transparent transparent;
      transform: translateX(-2.5px);
      position: absolute;
      bottom: -3px;
      left: 50%; }
  .clipboard-success .clipboard--bubble {
    opacity: 1; }



  .author-container {
    display: flex;
    align-items: center;
    gap: 10px; 
    margin-bottom:15px;
    padding-right:10px;
  }

  .author-image {
    width: 45px;
    height: 45px;
    object-fit: cover; 
    border-radius: 50%; 
  }

  .author-details {
    display: flex;
    flex-direction: column; 
     line-height:0.8em;
  }

  .author-name {
    font-size: 0.8rem;
   
    font-weight: bold;  
  }

  .author-title {
    font-size: 0.7rem;
    color: #000;/*#899cff;*/
 
  }




.blog-post-detail p,
.blog-post-detail ul,
.blog-post-detail ol,
.blog-post-detail li {
    font-size: 1.2rem;
  color: #000000;
}

.at-a-glance {
  border-radius: 15px;
  border: 1px solid #1b3def;
  padding:45px;
  margin-bottom:30px;
  background-color:white;
}

.at-a-glance h3 {
      font-size: 1.25rem;
}

/* Table of Contents Styling */
#table-of-contents-column { /* Styling for the TOC column */
  padding-right: 20px; /* Space between TOC and main content */
  padding-left:0px;
}

.table-of-contents {
  position: sticky;
  top: 120px;
  max-width: 300px;
  background-color: #fff;
  padding: 15px 0;
  /*border-bottom: 5px solid #1b3def;*/
  border-radius: 20px;
  margin-bottom: 30px;
  line-height: 1.2;
  padding:20px;
  /*border: 1px #1b3def solid;*/
}

#table-of-contents-column h3 {
  font-size: 1.25rem;
  margin-bottom: 10px;
}

.table-of-contents ul {
  list-style-type: none;
  padding: 0;
  line-height: 1 !important;
}

.table-of-contents li {
  margin-bottom: 15px;
  position: relative;
  font-size: 0.8em;
}

.table-of-contents li::before {
  content: "→"; /* Add the arrow symbol */
  position: absolute; /* Position the arrow */
  left: -22px;
  margin-top: 5px;
  font-size: 0.7rem;
  color: #899cff;
  
}

.active-toc-item a {
  color: #1b3def !important;
  font-weight: bold;
  text-decoration: underline;
}

.table-of-contents a {
  text-decoration: none;
  color: #848484;
  font-size: 1.05em;
  line-height: 1.2 !important;
}

.table-of-contents a:hover {
  text-decoration: underline;
}


/* Responsive Styling for Mobile */
@media (max-width: 900px) {
  .row {
    display: flex;
    flex-direction: column; /* Stack children vertically */
  }

  #table-of-contents-column {
    order: -1; /* Move TOC to the top */
    width: 100%; /* Full width for TOC */
    padding: 0; /* Remove padding for TOC */
    margin-bottom: 15px; /* Add some space below the TOC */
  }

  .table-of-contents {
    position: static; /* Disable sticky positioning for mobile */
    max-width: 100%; /* Full width for TOC */
    padding: 15px;
    border: none; /* Remove right border */
    border-bottom: 6px solid #1b3def; /* Add bottom border instead */
  }

  .small-9 {
   flex: 0 0 100% !important;
    max-width: 100% !important;
    
  }

  .small-3 {
  flex: 0 0 100% !important;
  max-width: 100% !important;
}
}

.post-content.page-content-width.rte {
  max-width:100% !important;
  width:100% !important;
  margin: 0;
}
  
.blog-photo {
  width: 100%; 
  max-height: 280px; 
  overflow: hidden;  
  position: relative;
  margin-bottom:35px;
border-radius:20px;
}

.blog-photo img {
  width: 100%; 
  height: auto; 
   object-fit: cover;
  object-position: center;
  max-height: 280px;
}

.mobile-only-TOC {
  display: none;
  visibility: hidden;
  }

  @media (max-width: 900px) {
    .mobile-only-TOC {
      display: block;
      visibility: visible;
      padding: 0 20px 10px 20px;
    }
    .author-container {
      margin-left:0px;
    }
  }

.desktop-only-TOC {
    display: block; /* Show by default (applies to all screen sizes) */
}

@media (max-width: 900px) {
    .desktop-only-TOC {
        display: none; /* Hide on screens smaller than 901px */
    }
}


/* Bodology Article CTAs */

.bodology-cta {
  display: flex;
  margin: 40px 0;
  border-radius: 20px;
  overflow: hidden;
  /*box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);*/
  background-color: #f2eee8;
}

.cta-content {
  padding: 45px 60px;
  flex: 2;
}

.cta-image {
  flex: 2;
  background-color: #f2eee8;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.cta-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.bodology-cta:hover .cta-image img {
  transform: scale(1.05);
}



.button .accent {
   text-decoration: none;
}


/* Responsive adjustments */
@media (max-width: 768px) {
  .bodology-cta {
    flex-direction: column;
  }
  
  .cta-image {
    height: 200px;
  }
}

.disclaimer {
  font-size: 12px;
  color: #777;
  margin-top: 32px;
  font-style: italic;
}

.post-content p {
  font-family:arial !important;
}

.post-content h4 {
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    margin: 20px 0px 50px 0px;
    font-size: 1rem;
  border: 1px solid #1b3def;
   font-family:arial !important;
}

.post-content a {
   color: #1b3def;
  text-decoration: none;
}


.post-content h3 {
  font-size: 1.35rem;
  text-transform: uppercase;
}
}
.blog-post-detail img {
  border: 1px #1b3def solid;
  border-radius: 20px;
}