.testimonials-exert {
    display: flex;
    align-items: center;
    max-width: 80%;
    margin: 0 auto;
    justify-content: space-between;
}
.testimonials--headings {
    flex-basis: 40%;
    padding-right: 40px;
}

.testimonial-carousel {
  position: relative;
  width: 100%;
  max-width: 600px;
  overflow: hidden;
  margin: auto;
}

.testimonial-wrapper {
  display: flex;
  overflow: hidden;
  position: relative;
  width: 500px; /* Adjust width */
  height: 300px; /* Adjust height */
}

.testimonial-block {
  min-width: 50%; /* Show only two blocks at a time */
  transition: transform 0.5s ease-in-out;
  box-sizing: border-box;
}

.testimonial-block:nth-child(odd) {
  margin-top: -20px; /* First block higher */
}

.testimonial-block:nth-child(even) {
  margin-top: 20px; /* Second block lower */
}



.testi-content {
    padding: 20px;
    border-top: 1px solid #1b3def;
}
.expert-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.expert-image {
    width: 100%;
    height: 360px;
    overflow: hidden;
}
.testi-content h3 {
    margin: 0 0 5px 0 !important;
    line-height: 1;
    font-size: 30px;
    font-weight: bold;
}
.testi-content p {
    margin: 0;
    font-size: 18px;
    text-transform: uppercase;
}
.testi-bottom {
    border-top: 1px solid #1b3def;
    padding: 20px;
}
.testi-bottom p {
    margin: 0;
    font-size: 18px;
}
.carousel-controls {
    display: flex;
    gap: 15px;
    position: absolute;
    top: 70px;
    right: 35%;
}
.carousel-controls button {
    border-radius: 100%;
    border: 1px solid #1b3def;
    width: 45px;
    height: 45px;
    vertical-align: middle;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.carousel-controls button svg {
    height: 25px;
    width: 25px;
}

