.testimonials-exert {
    display: flex;
    align-items: center;
    max-width: 80%;
    margin: 0 auto;
    justify-content: space-between;
}
.testimonials--headings {
    flex-basis: 40%;
    padding-right: 40px;
}
.testimonial-carousel {
    display: flex;
    align-items: center;
    flex-basis: 60%;
}
.testimonial-wrapper {
  display: flex;
  grid-gap: 20px;
  width: 100%;
}

.testimonial-block {
    text-align: left;
    background-color: #fff;
    border: 1px solid #1b3def;
    border-radius: 15px;
    padding: 0;
    flex-direction: column;
    overflow: hidden;
}
.testi-content {
    padding: 20px;
}
.testi-content p {
    margin: 0;
    font-size: 18px;
    text-transform: uppercase;
}
.top {
  margin-top: 0;
}

.bottom {
  margin-top: 30px; /* Slightly lower */
}

.carousel-controls {
  display: flex;
  gap: 15px;
}

/* Responsive Layout */
@media (min-width: 768px) {
  .testimonial-wrapper {
    grid-template-columns: repeat(var(--columns-tablet), 1fr);
  }
}

@media (min-width: 1024px) {
  .testimonial-wrapper {
    grid-template-columns: repeat(var(--columns-desktop), 1fr);
  }
}

@media (max-width: 767px) {
  .testimonial-wrapper {
    grid-template-columns: repeat(var(--columns-mobile), 1fr);
  }
}

