/* Container styling */
.container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    box-shadow: var(--block-shadows);
    border: 0.5px solid #f6f6f6;
    border-radius: 15px;
    height: fit-content;
    position: relative;
}

/* The expert image row (image and hover effect container) */
.expert-image-row {
    position: relative;
    width: 100%;
    height: auto;
}

/* Wrapper around the image */
.image-wrapper img {
    width: 100%;
    height: auto;
    border-radius: 14px;
    display: block;
    transition: opacity 0.3s ease; /* Fade effect on hover */
}

/* Hidden by default, shown on hover */
.expert-image-row-hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background-color: #1b3def;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 14px;
    transition: opacity 0.3s ease; /* Fade in on hover */
    
}

/* On hover, hide the image and show the quote */
.container:hover .image-wrapper img {
    opacity: 0; /* Hide the image */
}

.container:hover .expert-image-row-hover {
    opacity: 1; /* Show the quote */
}

/* Additional styles for the text and button rows */
.expert-text-row,
.expert-quote-row,
.expert-button-row {
    margin: 20px 30px;
}

.expert-quote-row {
    padding-top: 20px;
    border-top: 1px solid #1b3def;
}

.expert-button-row a.text-button.text-button--has-icon {
    justify-content: center !important;
    margin-bottom: 20px;
}
