.container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
  box-shadow: var(--block-shadows);
  border: 0.5px solid #f6f6f6;
  border-radius:15px;
  height: fit-content;
}


.expert-image-row {
  margin: 25px 25px;
  width: contain;
    height: auto;
  
}

.expert-image-row-hover {
  background-color: #1b3def;
  transition: background-color 0.3s ease;
  color:white;
}

.expert-image-row img {
border-radius:14px;
}

.expert-text-row {
  margin: 20px 30px;
}
.expert-quote-row {
  margin: 20px 30px;
  padding-top:20px;
  border-top: 1px solid #1b3def;
}

.expert-button-row a.text-button.text-button--has-icon {
  justify-content: center !important;
  margin-bottom:20px;
  
}

