.why-bits-section {
  padding: 60px 0 90px 0 ;
  text-align: center;
  position: relative;
}

.why-bits-content h2 {
  font-size: 2.5rem;
  margin-bottom: 50px;
}

/* Flex Wrapper */
.why-bits-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1490px;
    margin: 0 auto;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

/* Left & Right Grid */
.why-bits-grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.grid-inner{
    display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
         align-items: center;
        gap: 0;
        height: 100%;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        margin: 0 auto;
        max-width: 1490px;
        padding-bottom: 16px;
        width: 100%;
        padding-left: 27px;
        padding-right: 27px;
        -webkit-transition: padding .4sease-in-out;
        transition: padding .4sease-in-out;
}
.why-bits-item {
    width: 34%;
    text-align: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 16px;
    text-align: center;
}
.bit-inner {
    width: 326px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
}
.why-bits-item .icon {
    font-size: 2rem;
    margin-bottom: 10px;
    width: 60px;
    height: 60px;
}
.why-bits-item h3 {
    font-size: 24px;
    margin: 10px 0 15px;
    line-height: 1.2;
    max-width: none;
    text-align: center;
    text-transform: uppercase;
}

.why-bits-item p {
  font-size: 16px;
  line-height: 1.22;
  margin: 0;
  max-width: 260px;
}

/* Center Big Image */
.why-bits-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
}
.why-bits-center img {
    width: 48%;
    height: auto;
    margin: 0 auto;
}

@media only screen and (min-width: 1279px) {
    .why-bits-item:nth-child(1), .why-bits-item:nth-child(2), .why-bits-item:nth-child(3) {
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }
    .why-bits-item:nth-child(4), .why-bits-item:nth-child(5), .why-bits-item:nth-child(6) {
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end;
    }
    .why-bits-item:nth-child(1) {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
    }
    .why-bits-item:nth-child(2) {
        -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
        order: 3;
    }
    .why-bits-item:nth-child(3) {
        -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
        order: 5;
    }
    .why-bits-item:nth-child(4) {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
    }
    .why-bits-item:nth-child(5) {
        -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
        order: 4;
    }
    .why-bits-item:nth-child(6) {
        -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
        order: 6;
    }
}
@media only screen and (min-width: 1023px) {
    .why-bits-grid {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }
}
@media (min-width: 1201px) and (max-width: 1280px) {
.why-bits-center img {
    width: 44%;
}
.bit-inner {
    width: 210px;
}
.why-bits-item .icon {
    margin-bottom: 0;
    width: 50px;
    height: 50px;
}
.why-bits-item h3 {
    font-size: 18px;
    margin: 10px 0;
    max-width: 180px;
}
}
@media (min-width: 1024px) and (max-width: 1200px) {
  .why-bits-center img {
    width: 45%;
  }
  .why-bits-item h3 {
        font-size: 18px;
        margin: 0;
        max-width: 180px;
   }
  .why-bits-item .icon {    
    width: 50px;
    height: 50px;
  }
  .why-bits-item p {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .grid-inner {
    padding: 0;
  }
  .why-bits-content h2 {
    font-size: 32px;
    margin-bottom: 20px;
  }
  .bit-inner {
    width: 146px;
  }
  .why-bits-center img {
    width: 45%;
  }
  .why-bits-item h3 {
    font-size: 17px;
    margin: 0;
  }
  .why-bits-item .icon {    
    width: 50px;
    height: 50px;
  }
  .why-bits-item p {
    display: none;
  }
}
/* Mobile Responsive */
@media (min-width: 481px) and (max-width: 767px) {
    .why-bits-wrapper {
    flex-direction: column;
  }
  .why-bits-section {
    padding: 40px 0;
  }
  .why-bits-grid {
    grid-template-columns: 1fr; /* Single column */
    position: unset;
  }
  .why-bits-center {
    max-width: 100%;
  }
  .why-bits-content h2 {
    font-size: 30px;
  }
  .why-bits-center img {
    width: 100%;
  }
  .grid-inner {
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(2, 1fr);
  }
  .bit-inner {
    width: 100%;
  }
  .why-bits-item {
        width: auto;
        max-width: 250px;
        margin: 0 auto 15px auto;
  }
  .why-bits-item h3 {
    font-size: 20px;
  }
  .why-bits-item p {
    font-size: 16px;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
    .why-bits-wrapper {
    flex-direction: column;
  }
  .why-bits-section {
    padding: 40px 0;
  }
  .why-bits-grid {
    grid-template-columns: 1fr; /* Single column */
    position: unset;
  }
  .why-bits-center {
    max-width: 100%;
  }
  .why-bits-content h2 {
    font-size: 30px;
  }
  .why-bits-center img {
    width: 100%;
  }
  .grid-inner {
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(2, 1fr);
  }
  .bit-inner {
    width: 100%;
  }
  .why-bits-item {
    width: auto;
  }
  .why-bits-item h3 {
    font-size: 16px;
  }
  .why-bits-item p {
    font-size: 14px;
  }
}
