.why-bits-section {
  padding: 60px 0;
  text-align: center;
  position: relative;
}

.why-bits-content h2 {
  font-size: 2.5rem;
  margin-bottom: 40px;
}

/* Flex Wrapper */
.why-bits-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1490px;
    margin: 0 auto;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

/* Left & Right Grid */
.why-bits-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 0;
    max-width: 100%;
    justify-content: space-between;
}

.why-bits-item {
    width: 34%;
    text-align: center;
}
.bit-inner {
    width: 326px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
}
.why-bits-item .icon {
  font-size: 2rem;
  margin-bottom: 10px;
}

.why-bits-item h3 {
  font-size: 22px;
  margin: 16px 0 20px;
  max-width: none;
  text-align: center;
  text-transform: uppercase;
}

.why-bits-item p {
  font-size: 16px;
  line-height: 1.22;
  margin: 0;
  max-width: 260px;
}

/* Center Big Image */
.why-bits-center {
    width: 40%;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
}

.why-bits-center img {
  width: 100%;
  height: auto;
}

/* Mobile Responsive */
@media (max-width: 768px) {
  .why-bits-wrapper {
    flex-direction: column;
  }

  .why-bits-center {
    order: -1; /* Big image moves to the top */
    max-width: 80%;
    margin-bottom: 20px;
  }

  .why-bits-grid {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2x2 grid */
    gap: 20px;
  }
}

@media (max-width: 480px) {
  .why-bits-grid {
    grid-template-columns: 1fr; /* Single column */
  }

  .why-bits-center {
    max-width: 100%;
  }
}
